.CoursePreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  text-decoration: none;
  color: var(--main-text-color); }
  .CoursePreview:hover .ImgWrapper {
    transform: scale(1.02);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1); }

.info {
  display: flex;
  padding: 16px 0 0 0; }

.price {
  margin-right: 18px;
  flex: 0; }

.mainInfo {
  flex: 1; }

.title {
  font-size: 20px; }

.author {
  font-size: 13px; }
