.Header {
  position: sticky;
  top: 0;
  height: var(--header-tall-height);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--main-bg-color); }

.Nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 12px 0 0; }
